.pending {
  max-width: 60rem;
  width: 90%;
  margin: 2rem auto;
  animation: pending-appear 1s ease-out forwards;
}
.pending ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
@keyframes peding-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.pendingLoading {
  text-align: center;
  color: orangered;
  margin: auto;
}
.pendingError {
  text-align: center;
  color: red;
}
.adminPanel {
  text-align: center;
  margin-top: 1rem;
  color: white;
}
